

:root {
    --backgroundColor: lightgray;
  }
body{
    background-color: var(--backgroundColor);
    font-family: 'Roboto', sans-serif;
}

   .tabcard-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
   }

   .Tabs {
    width: 80%;
    height: auto;
    min-height: 200px;
    background: white;
    margin: 0.2rem auto 0.2rem;
    padding: 2rem 1rem;
    color: black;
    border-radius: 1%;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
   
  }
   
  /* Tab Navigation */
  ul.nav {
    margin: 0 auto 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 1%;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
   
  ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }
   
  ul.nav li:first-child {
  
  }
   
  ul.nav li:last-child {
   
  }
   
  ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
   
  ul.nav li.active {
    background: #39A2DB;
  }
   
  /* Tab Content Styles */
  .TabContent {
    font-size: 1rem;
    text-align: center;
  }
  .outlet{

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infotext{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.9rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    margin-top: 1.5rem;
  }
  
  /* Card Styles */
  .card-container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin: 2rem auto 0.2rem;
    background-color: var(--backgroundColor);
    
}

.card{
    max-height: 200px;
    max-width: 300px;
    background-color: white;
    border: solid 1px    white;
    border-radius: 2%;
    padding: 20px;
    font-size: 0.8rem;
   }

   .card:hover{
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
   }

   .card > *{
    margin:5px;
   }

   .card-title{
    font-weight: bold;
   }

   .card-info{
    font-weight: 200;
   }

   #card-date{
    font-size: 0.9rem;
    background-color: gray;
   }