

    :root {
        --backgroundColor:  #f2f2f2;
        --fontColor: black;
        --bordercolor: darkgray;
        --elementColor: white;
  }

    body{
        background-color: var(--backgroundColor);
        font-family: 'Roboto', sans-serif;
        color: var(--fontColor)
    }

  /* Date elementStyles */

    .date-container {
        font-size: 1.5rem;
        font-weight: bold;
        border: 1px solid var(white);
        border-radius: 10px;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        margin-bottom: 1rem;
        box-shadow: 7.8px 15.7px 15.7px hsl(0deg 0% 0% / 0.26);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
  /* Searc input  Styles */
    
    .searc-container {
        display: flex;
        flex-direction: row
    }
    .searchbar{
        margin-bottom: 2rem;
        border-radius: 10px;
        width: 100%;
    }
   
  /* Tab container  Styles */

    .tabcard-container {
        display: flex;
        align-items: center;
        flex-direction: column;
   }

   .Tabs {
        width: 80%;
        height: auto;
        min-height: 200px;
        background: var(--elementColor);
        border: solid 1px var(--elementColor);
        border-radius: 10px;
        margin: 0.4 rem auto 0.2rem;
        padding: 2rem 1rem;
        color: var(--fontColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
        @media (max-width: 769px) {
        padding: 2rem 0;
        
        }
    }
   
  /* Tab Navigation */
  ul.nav {
    width: 90%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    box-shadow: 7.8px 15.5px 15.5px hsl(0deg 0% 0% / 0.26);
    border-radius: 10px;
    padding-left: 0px;
    
  }
  @media only screen and (max-width: 600px) {
    ul.nav{
      font-size: 12px;
      width: 60%;
    }
    .infotext{
      font-size: 12px;
    }
  }
  ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;  
  }
   
  ul.nav li:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
   
  ul.nav li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    word-break: break-all
  }
   
  ul.nav li:hover {
    box-shadow: 7.8px 15.5px 15.5px hsl(0deg 0% 0% / 0.26);
  }
   
  ul.nav li.active {
    border-bottom: 3px solid black;
    
  }
   
  /* Tab Content Styles */
  .TabContent {
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .outlet{

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infotext{
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  
  select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border-radius: 0.1em;
    padding: 0.25em 0.5em;
    font-size: 0.9rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    margin-top: 1.5rem;
    background-color: var(--elementColor);
  }
  
  /* Card Styles */
  .card-container {
    display: grid;
    justify-items: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 2rem auto 0.2rem;
    background-color: var(--backgroundColor);
}

.card{
    max-height: 200px;
    max-width: 200px;
    background-color: var(--elementColor);
    border: solid 1px    var(--elementColor);
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--fontColor);
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

   .card:hover{
    box-shadow: 7.8px 15.7px 15.7px hsl(0deg 0% 0% / 0.26);
   }

   .card > *{
    margin:5px;
   }

   .card-title{
    font-weight: bold;
   }

   .card-info{
    font-weight: 200;
   }

   .error-card{
    max-height: 200px;
    max-width: 200px;
    background-color: var(--elementColor);
    border: solid 1px    var(--elementColor);
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--fontColor);
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
   }
   #card-date{
    font-size: 0.9rem;
   }